<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <script src="https://cdn.tailwindcss.com"></script>
  <body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
      <div class="flex justify-end">
        <a
          class="px-3 py-2 bg-red-500 rounded-md text-sm inline-block mb-5"
          href="/logout"
          >Logout</a
        >
      </div>

      <h5 class="mb-5">edit you post</h5>
      <form action="/update/<%=post._id%>" method="post">
        <textarea
          class="block w-1/3 bg-transparent border-2 rounded-md border-zinc-800 outline-none resize-none overflow-hidden"
          placeholder="What's on your mind?"
          name="content"
        >
      <%=post.content%>
      
      </textarea
        >
        <input
          class="px-5 py-2 mt-3 bg-yellow-500 text-black rounded-md block"
          type="submit"
          value="Update Post"
        />
      </form>
    </div>
  </body>
</html>
